// VARIABLES
// color
$color-lightest: #f2f2f2;
$color-darkest: #0d0d0d;
$color-banner: #d9d9d9;
$color-banner-dark: #262626;
$color-midtone: #808080;
// height
$height-banner: 4rem;
$height-menuitem: 3.5rem;
// width
$width-menuitem: 3.5rem;
$width-max: 1024px;
// gap
$gap-menuitem: .25rem;
$gap-list: 1.5rem;
$gap-list-desktop: 1.75rem;
// padding
$padding-landmark: 1rem;
$padding-menuitem: 1rem;
// font-size
$size-menuitem: .75em; 
$size-menuitem-desktop: .9em; 
$size-icon: 2em;
$size-company-name: 1em;
$size-phone: .9em;
// breakpoints
$breakpoint-small: 426px;
$breakpoint-desktop: 769px;
$breakpoint-desktop-large: 1025px;

// GLOBAL
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background: $color-lightest;
}

// APP BANNER
.app-banner {
    background-color: $color-banner;
    &__skip {
        display: block;
        text-align: center;
        padding: $padding-menuitem 0;
        color: inherit;
        text-transform: capitalize;
        position: absolute;
        left: -10000px;
        &:focus {
            position: static;
            left: 0;
            margin: .1rem;    
        }
    }
    &__container {
        min-height: $height-banner;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 $padding-landmark;
    }
    &__heading {
        font-size: $size-company-name;
    }
    &__phone {
        text-decoration: none;
        color: inherit;
        font-size: $size-phone;
    }
    &__navigation {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: $color-banner;
        border-radius: .75rem .75rem 0 0;
    }
    &__list {
        min-height: $height-banner;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .btn {
        border: none;
        background: transparent;
        cursor: pointer;
    }
    &__menuitem {
        color: inherit;
        text-decoration: none;
        font-size: $size-menuitem;
        min-height: $height-menuitem;
        min-width: $width-menuitem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: $gap-menuitem;
        padding: 0;
        &:active {
            animation-name: active-push;
            animation-duration: 0.3s;
            animation-timing-function: linear;
            animation-iteration-count: 1;
        }
    }
    &__desktop-text {
        display: none;
    }
    &__icon {
        font-size: $size-icon;
    }
}

// ACTIVE PUSH ANIMATION
@keyframes active-push {
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

// DARK MODE
.dark-mode {
    background-color: $color-darkest;
    color: $color-lightest;
    .app-banner {
        background-color: $color-banner-dark;
        &__navigation {
            background-color: $color-banner-dark;
        }
    }
}

// BREAKPOINT MOBILE TO TABLET
@media screen and (min-width: $breakpoint-small) {
    .app-banner {
        &__list {
            justify-content: center;
            column-gap: $gap-list;
        }
    }
}

// BREAKPOINT DESKTOP TO MOBILE
@media screen and (min-width: $breakpoint-desktop) {
    body {
        font-size: 18px;
    }
    .app-banner {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        &__container {
            justify-content: space-between;
            padding: 0 $padding-landmark;
        }
        &__phone {
            display: none;
        }
        &__navigation {
            position: static;
            width: unset;
        }
        &__list {
            column-gap: $gap-list-desktop;
        }
        &__icon {
            display: none;
        }
        .btn {
            flex-direction: row;
            column-gap: .25rem;
        }
        &__menuitem {    
            font-size: $size-menuitem-desktop;
            min-height: unset;
            min-width: unset;
            position: relative;
            transform: perspective(1px) translateZ(0);
            overflow: hidden;
            padding: $padding-menuitem 0;
            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                left: 0;
                right: 0;
                bottom: 0;
                background: $color-midtone;
                height: 4px;
                transform: translateY(4px);
                transition-property: transform;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
            }
            &:hover:before {
                transform: translateY(0);
            }

        }
        &__desktop-text {
            display: block;
        }
    }
    
}

// BREAKPOINT DESKTOP TO LARGE DESKTOP
@media screen and (min-width: $breakpoint-desktop-large) {
    .app-banner {
        &__container {
            max-width: $width-max;
            margin: 0 auto;
        }
    }
}


// BASIC STYLES FOR CONTENT
main {
    section {
        height: 100vh;
        padding: 0 $padding-landmark;
        h2, h3, h4, h5, h6 {
            text-align: center;
        }
    }
}

@media screen and (min-width: $breakpoint-desktop) {
    main {
        section {
            padding-top: $height-banner;
        }
    }
}
@media screen and (min-width: $breakpoint-desktop-large) {
    main {
        section {
            max-width: $width-max;
            margin: 0 auto;
        }
    }
}


