// base scss
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
}

.app-banner {
    background-color: #d9d9d9;
    &__skip {
        display: block;
        text-align: center;
        padding: 1rem 0;
        color: inherit;
        text-transform: capitalize;
        position: absolute;
        left: -10000px;
        &:focus {
            position: static;
            left: 0;
            margin: .1rem;    
        }
    }
    &__container {
        min-height: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }
    &__heading {
        font-size: 1em;
    }
    &__phone {
        text-decoration: none;
        color: inherit;
        font-size: .9em;
    }
    &__navigation {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #d9d9d9;
        border-radius: .75rem .75rem 0 0;
    }
    &__list {
        min-height: 4rem;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .btn {
        border: none;
        background: transparent;
        cursor: pointer;
    }
    &__link {
        color: inherit;
        text-decoration: none;
        font-size: .75em;
        min-height: 3.5rem;
        min-width: 3.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: .25rem;
        padding: 0;
        &:active {
            animation-name: active-push;
            animation-duration: 0.3s;
            animation-timing-function: linear;
            animation-iteration-count: 1;
        }
    }
    &__desktop-text {
        display: none;
    }
    &__icon {
        font-size: 1.5rem;
    }
}

@keyframes active-push {
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.dark-mode {
    background-color: #0d0d0d;
    color: #f2f2f2;
    .app-banner {
        background-color: #262626;
        &__navigation {
            background-color: #262626;
        }
    }
}

@media screen and (min-width: 426px) {
    .app-banner {
        &__list {
            justify-content: center;
            column-gap: 1.5rem;
        }
    }
}

@media screen and (min-width: 769px) {
    body {
        font-size: 18px;
    }
    .app-banner {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        &__container {
            justify-content: space-between;
            padding: 0 1rem;
        }
        &__phone {
            display: none;
        }
        &__navigation {
            position: static;
            width: unset;
        }
        &__list {
            column-gap: 1.75rem;
        }
        &__icon {
            display: none;
        }
        .btn {
            flex-direction: row;
            column-gap: .25rem;
        }
        &__link {    
            font-size: .9em;
            min-height: unset;
            min-width: unset;
            position: relative;
            transform: perspective(1px) translateZ(0);
            overflow: hidden;
            padding: 1rem 0;
            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                left: 0;
                right: 0;
                bottom: 0;
                background: gray;
                height: 4px;
                transform: translateY(4px);
                transition-property: transform;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
            }
            &:hover:before {
                transform: translateY(0);
            }

        }
        &__desktop-text {
            display: block;
        }
    }
    
}

@media screen and (min-width: 1025px) {
    .app-banner {
        &__container {
            max-width: 1024px;
            margin: 0 auto;
        }
    }
}

main {
    section {
        height: 100vh;
        padding: 0 1rem;
        h2, h3, h4, h5, h6 {
            text-align: center;
        }
    }
}

@media screen and (min-width: 769px) {
    main {
        section {
            padding-top: 4rem;
        }
    }
}
@media screen and (min-width: 1025px) {
    main {
        section {
            max-width: 1024px;
            margin: 0 auto;
        }
    }
}


